<!-- This file was based on the file of the same name/location from the Node.js starter guide 
accessed at this link: https://github.com/osu-cs340-ecampus/nodejs-starter-app --> 

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Craft Store</title>
</head>
<body>

    {{{body}}}

</body>
</html>